# Predicting the stock market

We will be using historical data on the price of the S&P500 Index to make predictions about future prices. Predicting whether an index will go up or down will help us forecast how the stock market as a whole will perform. Since stocks tend to correlate with how well the economy as a whole is performing, it can also help us make economic forecasts.

We will be working with a csv file containing index prices. Each row in the file contains a daily record of the price of the S&P500 Index from 1950 to 2015. The dataset is stored in sphist.csv.

The columns of the dataset are:

* Date -- The date of the record.
* Open -- The opening price of the day (when trading starts).
* High -- The highest trade price during the day.
* Low -- The lowest trade price during the day.
* Close -- The closing price for the day (when trading is finished).
* Volume -- The number of shares traded.
* Adj Close -- The daily closing price, adjusted retroactively to include any corporate actions. 

We'll be using this dataset to develop a predictive model. We'll train the model with data from 1950-2012, and try to make predictions from 2013-2015.

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("sphist.csv")

In [3]:
data.head()

,Date,Open,High,Low,Close,Volume,Adj Close
0,2015-12-07,2090.419922,2090.419922,2066.780029,2077.070068,4.043820e+09,2077.070068
1,2015-12-04,2051.239990,2093.840088,2051.239990,2091.689941,4.214910e+09,2091.689941
2,2015-12-03,2080.709961,2085.000000,2042.349976,2049.620117,4.306490e+09,2049.620117
3,2015-12-02,2101.709961,2104.270020,2077.110107,2079.510010,3.950640e+09,2079.510010
4,2015-12-01,2082.929932,2103.370117,2082.929932,2102.629883,3.712120e+09,2102.629883

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16590 entries, 0 to 16589
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       16590 non-null  object
 1   Open       16590 non-null  float64
 2   High       16590 non-null  float64
 3   Low        16590 non-null  float64
 4   Close      16590 non-null  float64
 5   Volume     16590 non-null  float64
 6   Adj Close  16590 non-null  float64
dtypes: float64(6), object(1)
memory usage: 907.4+ KB

In [5]:
data.shape

(16590, 7)

In [6]:
# convert Date column to datetime

data["Date"] = pd.to_datetime(data["Date"])

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16590 entries, 0 to 16589
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       16590 non-null  datetime64[ns]
 1   Open       16590 non-null  float64
 2   High       16590 non-null  float64
 3   Low        16590 non-null  float64
 4   Close      16590 non-null  float64
 5   Volume     16590 non-null  float64
 6   Adj Close  16590 non-null  float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 907.4 KB

In [7]:
from datetime import datetime

In [8]:
# sort Data by date

data = data.sort_values("Date")

data.head()

            Date   Open   High    Low  Close     Volume  Adj Close
16589 1950-01-03  16.66  16.66  16.66  16.66  1260000.0      16.66
16588 1950-01-04  16.85  16.85  16.85  16.85  1890000.0      16.85
16587 1950-01-05  16.93  16.93  16.93  16.93  2550000.0      16.93
16586 1950-01-06  16.98  16.98  16.98  16.98  2010000.0      16.98
16585 1950-01-09  17.08  17.08  17.08  17.08  2520000.0      17.08

Stock market data is sequential and each observation comes a day after the previous observation. Thus, the observations are not all independent and you can't treat them as such. This means you have to be extra careful not to inject "future" knowledge into past rows when you train and predict. Injecting future knowledge makes our model look good when we train and test it, but it fails in the real world.

The time series nature of the data means that we can generate indicators to make our model more accurate. For instance, you can create a new column that contains the average price of the last 10 trades for each row. When you do this, you have to be careful not to use the current row in the values you average. You want to teach the model how to predict the current price from historical prices.

Indicators that can be calculated:
* The average price from the past 5 / 30 /365 days.
* The ratio between the average price for the past 5 days, and the average price for the past 365 days.
* The standard deviation of the price over the past 5 / 30 /365 days.
* The ratio between the standard deviation for the past 5 days, and the standard deviation for the past 365 days.

In [9]:
test = data.copy()

# Calculating indicators

In [10]:
#Calculate the average price for the past 5, 30, 365 days
test["5_day_avg"] = test["Close"].rolling(5).mean().shift(1)
test["30_day_avg"] = test["Close"].rolling(30).mean().shift(1)
test["365_day_avg"] = test["Close"].rolling(365).mean().shift(1)

#Calculate the STD of the price for the past 5, 30, 365 days
test['5_day_std'] = test['Close'].rolling(5).std().shift(1)
test['30_day_std'] = test['Close'].rolling(30).std().shift(1)
test['365_day_std'] = test['Close'].rolling(365).std().shift(1)

In [11]:
#Calculate the STD volume for the past 5, 30, 365 days
test["5_vol_std"] = test["Close"].rolling(5).std().shift(1)
test["30_vol_std"] = test["Close"].rolling(30).std().shift(1)
test["365_vol_std"] = test["Close"].rolling(365).std().shift(1)

In [12]:
test.head(50)

,Date,Open,High,Low,Close,Volume,Adj Close,5_day_avg,30_day_avg,365_day_avg,5_day_std,30_day_std,365_day_std,5_vol_std,30_vol_std,365_vol_std
16589,1950-01-03,16.660000,16.660000,16.660000,16.660000,1260000.0,16.660000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16588,1950-01-04,16.850000,16.850000,16.850000,16.850000,1890000.0,16.850000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16587,1950-01-05,16.930000,16.930000,16.930000,16.930000,2550000.0,16.930000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16586,1950-01-06,16.980000,16.980000,16.980000,16.980000,2010000.0,16.980000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16585,1950-01-09,17.080000,17.080000,17.080000,17.080000,2520000.0,17.080000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16584,1950-01-10,17.030001,17.030001,17.030001,17.030001,2160000.0,17.030001,16.900000,NaN,NaN,0.157956,NaN,NaN,0.157956,NaN,NaN
16583,1950-01-11,17.090000,17.090000,17.090000,17.090000,2630000.0,17.090000,16.974000,NaN,NaN,0.089051,NaN,NaN,0.089051,NaN,NaN
16582,1950-01-12,16.760000,16.760000,16.760000,16.760000,2970000.0,16.760000,17.022000,NaN,NaN,0.067602,NaN,NaN,0.067602,NaN,NaN
16581,1950-01-13,16.670000,16.670000,16.670000,16.670000,3330000.0,16.670000,16.988000,NaN,NaN,0.134796,NaN,NaN,0.134796,NaN,NaN
16580,1950-01-16,16.719999,16.719999,16.719999,16.719999,1460000.0,16.719999,16.926000,NaN,NaN,0.196545,NaN,NaN,0.196545,NaN,NaN
16579,1950-01-17,16.860001,16.860001,16.860001,16.860001,1790000.0,16.860001,16.854000,NaN,NaN,0.191912,NaN,NaN,0.191912,NaN,NaN
16578,1950-01-18,16.850000,16.850000,16.850000,16.850000,1570000.0,16.850000,16.820000,NaN,NaN,0.166283,NaN,NaN,0.166283,NaN,NaN
16577,1950-01-19,16.870001,16.870001,16.870001,16.870001,1170000.0,16.870001,16.772000,NaN,NaN,0.082280,NaN,NaN,0.082280,NaN,NaN
16576,1950-01-20,16.900000,16.900000,16.900000,16.900000,1440000.0,16.900000,16.794000,NaN,NaN,0.092359,NaN,NaN,0.092359,NaN,NaN
16575,1950-01-23,16.920000,16.920000,16.920000,16.920000,1340000.0,16.920000,16.840000,NaN,NaN,0.069643,NaN,NaN,0.069643,NaN,NaN
16574,1950-01-24,16.860001,16.860001,16.860001,16.860001,1250000.0,16.860001,16.880000,NaN,NaN,0.029155,NaN,NaN,0.029155,NaN,NaN
16573,1950-01-25,16.740000,16.740000,16.740000,16.740000,1700000.0,16.740000,16.880000,NaN,NaN,0.029155,NaN,NaN,0.029155,NaN,NaN
16572,1950-01-26,16.730000,16.730000,16.730000,16.730000,1150000.0,16.730000,16.858000,NaN,NaN,0.070143,NaN,NaN,0.070143,NaN,NaN
16571,1950-01-27,16.820000,16.820000,16.820000,16.820000,1250000.0,16.820000,16.830000,NaN,NaN,0.089443,NaN,NaN,0.089443,NaN,NaN
16570,1950-01-30,17.020000,17.020000,17.020000,17.020000,1640000.0,17.020000,16.814000,NaN,NaN,0.080499,NaN,NaN,0.080499,NaN,NaN
16569,1950-01-31,17.049999,17.049999,17.049999,17.049999,1690000.0,17.049999,16.834000,NaN,NaN,0.117388,NaN,NaN,0.117388,NaN,NaN
16568,1950-02-01,17.049999,17.049999,17.049999,17.049999,1810000.0,17.049999,16.872000,NaN,NaN,0.153199,NaN,NaN,0.153199,NaN,NaN
16567,1950-02-02,17.230000,17.230000,17.230000,17.230000,2040000.0,17.230000,16.934000,NaN,NaN,0.149097,NaN,NaN,0.149097,NaN,NaN
16566,1950-02-03,17.290001,17.290001,17.290001,17.290001,2210000.0,17.290001,17.034000,NaN,NaN,0.145705,NaN,NaN,0.145705,NaN,NaN
16565,1950-02-06,17.320000,17.320000,17.320000,17.320000,1490000.0,17.320000,17.128000,NaN,NaN,0.122964,NaN,NaN,0.122964,NaN,NaN
16564,1950-02-07,17.230000,17.230000,17.230000,17.230000,1360000.0,17.230000,17.188000,NaN,NaN,0.130078,NaN,NaN,0.130078,NaN,NaN
16563,1950-02-08,17.209999,17.209999,17.209999,17.209999,1470000.0,17.209999,17.224000,NaN,NaN,0.104786,NaN,NaN,0.104786,NaN,NaN
16562,1950-02-09,17.280001,17.280001,17.280001,17.280001,1810000.0,17.280001,17.256000,NaN,NaN,0.046691,NaN,NaN,0.046691,NaN,NaN
16561,1950-02-10,17.240000,17.240000,17.240000,17.240000,1790000.0,17.240000,17.266000,NaN,NaN,0.045056,NaN,NaN,0.045056,NaN,NaN
16560,1950-02-14,17.059999,17.059999,17.059999,17.059999,2210000.0,17.059999,17.256000,NaN,NaN,0.043932,NaN,NaN,0.043932,NaN,NaN
16559,1950-02-15,17.059999,17.059999,17.059999,17.059999,1730000.0,17.059999,17.204000,16.976667,NaN,0.084440,0.197978,NaN,0.084440,0.197978,NaN
16558,1950-02-16,16.990000,16.990000,16.990000,16.990000,1920000.0,16.990000,17.170000,16.990000,NaN,0.103442,0.189191,NaN,0.103442,0.189191,NaN
16557,1950-02-17,17.150000,17.150000,17.150000,17.150000,1940000.0,17.150000,17.126000,16.994667,NaN,0.126413,0.187336,NaN,0.126413,0.187336,NaN
16556,1950-02-20,17.200001,17.200001,17.200001,17.200001,1420000.0,17.200001,17.100000,17.002000,NaN,0.096696,0.189016,NaN,0.096696,0.189016,NaN
16555,1950-02-21,17.170000,17.170000,17.170000,17.170000,1260000.0,17.170000,17.092000,17.009333,NaN,0.082886,0.192371,NaN,0.082886,0.192371,NaN
16554,1950-02-23,17.209999,17.209999,17.209999,17.209999,1310000.0,17.209999,17.114000,17.012333,NaN,0.086776,0.194204,NaN,0.086776,0.194204,NaN
16553,1950-02-24,17.280001,17.280001,17.280001,17.280001,1710000.0,17.280001,17.144000,17.018333,NaN,0.089331,0.197521,NaN,0.089331,0.197521,NaN
16552,1950-02-27,17.280001,17.280001,17.280001,17.280001,1410000.0,17.280001,17.202000,17.024667,NaN,0.049699,0.202871,NaN,0.049699,0.202871,NaN
16551,1950-02-28,17.219999,17.219999,17.219999,17.219999,1310000.0,17.219999,17.228000,17.042000,NaN,0.049700,0.201690,NaN,0.049700,0.201690,NaN
16550,1950-03-01,17.240000,17.240000,17.240000,17.240000,1410000.0,17.240000,17.232000,17.060333,NaN,0.047645,0.191446,NaN,0.047645,0.191446,NaN
16549,1950-03-02,17.230000,17.230000,17.230000,17.230000,1340000.0,17.230000,17.246000,17.077667,NaN,0.032864,0.182920,NaN,0.032864,0.182920,NaN
16548,1950-03-03,17.290001,17.290001,17.290001,17.290001,1520000.0,17.290001,17.250000,17.090000,NaN,0.028285,0.180192,NaN,0.028285,0.180192,NaN
16547,1950-03-06,17.320000,17.320000,17.320000,17.320000,1470000.0,17.320000,17.252000,17.104667,NaN,0.031146,0.177875,NaN,0.031146,0.177875,NaN
16546,1950-03-07,17.200001,17.200001,17.200001,17.200001,1590000.0,17.200001,17.260000,17.119667,NaN,0.043012,0.176371,NaN,0.043012,0.176371,NaN
16545,1950-03-08,17.190001,17.190001,17.190001,17.190001,1360000.0,17.190001,17.256000,17.129667,NaN,0.048270,0.171936,NaN,0.048270,0.171936,NaN
16544,1950-03-09,17.070000,17.070000,17.070000,17.070000,1330000.0,17.070000,17.246001,17.138667,NaN,0.056833,0.167594,NaN,0.056833,0.167594,NaN
16543,1950-03-10,17.090000,17.090000,17.090000,17.090000,1260000.0,17.090000,17.214001,17.145667,NaN,0.098133,0.159756,NaN,0.098133,0.159756,NaN
16542,1950-03-13,17.120001,17.120001,17.120001,17.120001,1060000.0,17.120001,17.174000,17.157333,NaN,0.100150,0.140760,NaN,0.100150,0.140760,NaN
16541,1950-03-14,17.250000,17.250000,17.250000,17.250000,1140000.0,17.250000,17.134001,17.170333,NaN,0.058567,0.115713,NaN,0.058567,0.115713,NaN
16540,1950-03-15,17.450001,17.450001,17.450001,17.450001,1830000.0,17.450001,17.144000,17.184667,NaN,0.074699,0.095727,NaN,0.074699,0.095727,NaN

In [13]:
test.tail(10)

,Date,Open,High,Low,Close,Volume,Adj Close,5_day_avg,30_day_avg,365_day_avg,5_day_std,30_day_std,365_day_std,5_vol_std,30_vol_std,365_vol_std
9,2015-11-23,2089.409912,2095.610107,2081.389893,2086.590088,3.587980e+09,2086.590088,2071.523974,2061.892989,2033.605890,18.246940,32.699325,64.911334,18.246940,32.699325,64.911334
8,2015-11-24,2084.419922,2094.120117,2070.290039,2089.139893,3.884930e+09,2089.139893,2078.204004,2064.197327,2034.018028,15.807754,31.885833,64.768328,15.807754,31.885833,64.768328
7,2015-11-25,2089.300049,2093.000000,2086.300049,2088.870117,2.852940e+09,2088.870117,2085.943994,2067.045658,2034.432712,3.491188,30.058610,64.634873,3.491188,30.058610,64.634873
6,2015-11-27,2088.820068,2093.290039,2084.129883,2090.110107,1.466840e+09,2090.110107,2087.002002,2070.199996,2034.835123,3.395982,26.960525,64.514871,3.395982,26.960525,64.514871
5,2015-11-30,2090.949951,2093.810059,2080.409912,2080.409912,4.245030e+09,2080.409912,2088.776025,2072.408333,2035.199864,1.309055,25.718597,64.449800,1.309055,25.718597,64.449800
4,2015-12-01,2082.929932,2103.370117,2082.929932,2102.629883,3.712120e+09,2102.629883,2087.024023,2073.984998,2035.531178,3.916109,24.654181,64.370261,3.916109,24.654181,64.370261
3,2015-12-02,2101.709961,2104.270020,2077.110107,2079.510010,3.950640e+09,2079.510010,2090.231982,2076.283993,2035.914082,7.956808,23.970453,64.352527,7.956808,23.970453,64.352527
2,2015-12-03,2080.709961,2085.000000,2042.349976,2049.620117,4.306490e+09,2049.620117,2088.306006,2077.908659,2036.234356,9.333599,22.378095,64.277554,9.333599,22.378095,64.277554
1,2015-12-04,2051.239990,2093.840088,2051.239990,2091.689941,4.214910e+09,2091.689941,2080.456006,2078.931331,2036.507343,19.599946,20.183769,64.121622,19.599946,20.183769,64.121622
0,2015-12-07,2090.419922,2090.419922,2066.780029,2077.070068,4.043820e+09,2077.070068,2080.771973,2080.237329,2036.869425,19.806136,19.676415,64.058862,19.806136,19.676415,64.058862

# Splitting the data

Since you're computing indicators that use historical data, there are some rows where there isn't enough historical data to generate them. Remove them.

In [14]:
test = test.dropna()
test.head()

,Date,Open,High,Low,Close,Volume,Adj Close,5_day_avg,30_day_avg,365_day_avg,5_day_std,30_day_std,365_day_std,5_vol_std,30_vol_std,365_vol_std
16224,1951-06-19,22.020000,22.020000,22.020000,22.020000,1100000.0,22.020000,21.800,21.703333,19.447726,0.256223,0.473595,1.790253,0.256223,0.473595,1.790253
16223,1951-06-20,21.910000,21.910000,21.910000,21.910000,1120000.0,21.910000,21.900,21.683000,19.462411,0.213659,0.444648,1.789307,0.213659,0.444648,1.789307
16222,1951-06-21,21.780001,21.780001,21.780001,21.780001,1100000.0,21.780001,21.972,21.659667,19.476274,0.092574,0.411452,1.788613,0.092574,0.411452,1.788613
16221,1951-06-22,21.549999,21.549999,21.549999,21.549999,1340000.0,21.549999,21.960,21.631000,19.489562,0.115108,0.368514,1.787659,0.115108,0.368514,1.787659
16220,1951-06-25,21.290001,21.290001,21.290001,21.290001,2440000.0,21.290001,21.862,21.599000,19.502082,0.204132,0.329130,1.786038,0.204132,0.329130,1.786038

Generate two new dataframes to use in making our algorithm.

In [15]:
train = test[test["Date"] < datetime(year = 2013, month = 1, day = 1)]
model = test[test["Date"] > datetime(year = 2012, month = 12, day = 31)]

# Making predictions

It's recommended to use Mean Absolute Error, also called MAE, as an error metric, because it will show you how "close" you were to the price in intuitive terms.

In [16]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

In [17]:
# Predicting using n average days for price

lr = LinearRegression()
lr.fit(train[["5_day_avg", "30_day_avg", "365_day_avg"]], train["Close"])
predictions = lr.predict(model[["5_day_avg", "30_day_avg", "365_day_avg"]])

avg_days_mae = mean_absolute_error(model["Close"], predictions)
avg_days_mae

16.142439643554333

In [24]:
# Predicting using n days std

lr = LinearRegression()
lr.fit(train[["5_day_std", "30_day_std", "365_day_std"]], train["Close"])
predictions = lr.predict(model[["5_day_std", "30_day_std", "365_day_std"]])

std_days_mae = mean_absolute_error(model["Close"], predictions)
std_days_mae

746.2008762440275

In [29]:
# Predicting using 5 days 

lr = LinearRegression()
lr.fit(train[["5_day_avg", "5_day_std"]], train["Close"])
predictions = lr.predict(model[["5_day_avg", "5_day_std"]])

five_days_mae = mean_absolute_error(model["Close"], predictions)
five_days_mae

16.118299487560265